* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: white;
}


header {
    background-color: #1D8954;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 48px;
    height: auto;
}

h1 {
    font-size: 20px;
}

nav .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card .info {
    padding: 10px;
    color: white;
    text-align: center;
}

.info p {
    margin-top: 10px;
}

footer {
    background-color: #1D8954;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer .redes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    header {
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }

    .menu-toggle {
        display: block;
        order: -1;
        margin-right: auto;
    }

    .logo-container {
        flex-grow: 1;
        justify-content: flex-start;
    }

    nav .nav-links {
        display: none;
        flex-direction: column;
        background-color: #1D8954;
        position: absolute;
        top: 60px;
        left: 20px;
        width: 150px;
        padding: 10px;
        border-radius: 8px;
    }

    nav .nav-links.active {
        display: flex;
    }
}